# Project exclude paths
/client/target/
/server/target/
/.idea/
/Logs/
/client/logs/
/storage/
/sfiles/
/client/src/ru.valerych.cloud2.client.main/resources/Cloud2Files/
/server/src/test/storage/
/server/src/test/sfiles-test/
cloud2client.settings
Cloud2Directory